<div class="home-page">

  <div class="container page">
    <table style="background-color: #F5F5F5; width:97%">
      <tr>
        <td>
          <div>
            <button *ngIf="isUserLoggedIn" mat-menu-item routerLink="/editor" routerLinkActive="active">
              <mat-icon>post_add</mat-icon>&nbsp;New Article
            </button>
          </div>
        </td>
        <td>
          <div class="col-md-12">
            <div class="sidebar">
              <p>Popular Tags</p>

              <div class="tag-list">
                <a *ngFor="let tag of tags" (click)="setListTo('all', {tag: tag})" class="tag-default tag-pill">
                  {{ tag }}
                </a>
              </div>

              <div [hidden]="tagsLoaded">
                Loading tags...
              </div>

              <div [hidden]="!tagsLoaded || tags.length > 0">
                No tags are here... yet.
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <div class="row">

      <div style="width:95%">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
                (click)="setListTo('all')">
                Global Feed
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': listConfig.type === 'feed'}" (click)="setListTo('feed')">
                Your Feed
              </a>
            </li>

            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="3" [config]="listConfig"></app-article-list>
        <!--			<app-article-list></app-article-list> -->
      </div>
    </div>
  </div>
</div>